<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconImage</key>
		<string>p_10</string>
		<key>gridTitle</key>
		<string>邀请好友</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>p_ShapeCopy</string>
		<key>gridTitle</key>
		<string>我的红利</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>p_11</string>
		<key>gridTitle</key>
		<string>心意卡</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>p_13copy</string>
		<key>gridTitle</key>
		<string>设置</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>p_15</string>
		<key>gridTitle</key>
		<string>客服中心</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string>#A48A56</string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>p_Shape</string>
		<key>gridTitle</key>
		<string>我要合作</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>p_17</string>
		<key>gridTitle</key>
		<string>帮助中心</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>p_18</string>
		<key>gridTitle</key>
		<string>关于中龙</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
	</dict>
</array>
</plist>
