<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item0</key>
	<dict>
		<key>title</key>
		<string>虾苗库存</string>
		<key>bg</key>
		<string>h_1</string>
		<key>price</key>
		<string>876382.32</string>
		<key>icon1</key>
		<string>h_4</string>
		<key>title1</key>
		<string>申请分销</string>
		<key>icon2</key>
		<string>h_5</string>
		<key>title2</key>
		<string>邀请好友</string>
		<key>icon3</key>
		<string>h_6</string>
		<key>title3</key>
		<string>游戏中心</string>
	</dict>
	<key>item1</key>
	<dict>
		<key>title</key>
		<string>虾卷余额</string>
		<key>bg</key>
		<string>h_2</string>
		<key>price</key>
		<string>0</string>
		<key>icon1</key>
		<string>h_4</string>
		<key>title1</key>
		<string>申请分销</string>
		<key>icon2</key>
		<string>h_5</string>
		<key>title2</key>
		<string>邀请好友</string>
		<key>icon3</key>
		<string>h_6</string>
		<key>title3</key>
		<string>游戏中心</string>
	</dict>
	<key>item2</key>
	<dict>
		<key>title</key>
		<string>生虾库存</string>
		<key>bg</key>
		<string>h_3</string>
		<key>price</key>
		<string>876382.32</string>
		<key>icon1</key>
		<string>h_4</string>
		<key>title1</key>
		<string>申请分销</string>
		<key>icon2</key>
		<string>h_5</string>
		<key>title2</key>
		<string>邀请好友</string>
		<key>icon3</key>
		<string>h_6</string>
		<key>title3</key>
		<string>游戏中心</string>
	</dict>
</dict>
</plist>
